In [18]:
GCP_PROJECTS = !gcloud config get-value project
PROJECT_ID = GCP_PROJECTS[0]
PROJECT_NUM = !gcloud projects list --filter="$PROJECT_ID" --format="value(PROJECT_NUMBER)"
PROJECT_NUM = PROJECT_NUM[0]
LOCATION = 'us-central1'
REGION = "us-central1"

# VERTEX_SA = '934903580331-compute@developer.gserviceaccount.com'
VERTEX_SA = 'jt-vertex-sa@hybrid-vertex.iam.gserviceaccount.com'

print(f"PROJECT_ID: {PROJECT_ID}")
print(f"PROJECT_NUM: {PROJECT_NUM}")
print(f"LOCATION: {LOCATION}")
print(f"REGION: {REGION}")
print(f"VERTEX_SA: {VERTEX_SA}")

PROJECT_ID: hybrid-vertex
PROJECT_NUM: 934903580331
LOCATION: us-central1
REGION: us-central1
VERTEX_SA: jt-vertex-sa@hybrid-vertex.iam.gserviceaccount.com

In [19]:
REGION = 'us-central1'
EXPERIMENT = 'control_group1'
SERIES = 'causal_impact_4'

BQ_PROJECT = PROJECT_ID
BQ_DATASET = SERIES.replace('-','_')
BQ_TABLE = EXPERIMENT

BQ_SOURCE1 = 'bigquery-public-data.new_york.citibike_trips'
BQ_SOURCE2 = 'bigquery-public-data.new_york.citibike_stations'

viz_limit = 12

In [20]:
from google.cloud import bigquery

import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime, timedelta

from google.cloud import aiplatform as vertex_ai

bq = bigquery.Client(project=PROJECT_ID)

vertex_ai.init(
    project=PROJECT_ID, 
    location=REGION,
    # credentials=credentials
)

In [21]:
# CUSTOMIZE
TARGET_COLUMN = 'num_trips'
TIME_COLUMN = 'starttime'
SERIES_COLUMN = 'start_station_name'
COVARIATE_COLUMNS = [
    'avg_tripduration', 
    'pct_subscriber', 
    'ratio_gender', 
    'capacity'
] # could be empty

# BQ_TABLE_GROUP_A="control_group1_grp_a"
BQ_TABLE_GROUP_B="control_group1_grp_b"

In [22]:
query = f"""
    WITH
        SPLIT AS (
            SELECT splits, min({TIME_COLUMN}) as mindate, max({TIME_COLUMN}) as maxdate
            FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}`
            GROUP BY splits
        ),
        TRAIN AS (
            SELECT mindate as start_date
            FROM SPLIT
            WHERE splits ='TRAIN'
        ),
        VAL AS (
            SELECT mindate as val_start
            FROM SPLIT
            WHERE splits = 'VALIDATE'
        ),
        TEST AS (
            SELECT mindate as test_start, maxdate as end_date
            FROM SPLIT
            WHERE splits = 'TEST'
        )
    SELECT * EXCEPT(pos) FROM
    (SELECT *, ROW_NUMBER() OVER() pos FROM TRAIN)
    JOIN (SELECT *, ROW_NUMBER() OVER() pos FROM VAL)
    USING (pos)
    JOIN (SELECT *, ROW_NUMBER() OVER() pos FROM TEST)
    USING (pos)
"""
keyDates = bq.query(query).to_dataframe()
keyDates

   start_date   val_start  test_start    end_date
0  2013-07-01  2016-05-14  2016-07-23  2016-09-30

In [23]:
query = f"""
    SELECT {SERIES_COLUMN}, {TIME_COLUMN}, {TARGET_COLUMN}, splits,
        {', '.join(COVARIATE_COLUMNS)}
    FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}`
    ORDER by {SERIES_COLUMN}, {TIME_COLUMN}
"""
rawSeries = bq.query(query).to_dataframe()

In [24]:
rawSeries.tail(50)

,start_station_name,starttime,num_trips,splits,avg_tripduration,pct_subscriber,ratio_gender,capacity
4189,Marcy Ave & Lafayette Ave,2016-06-25,9,VALIDATE,952.222222,0.777778,0.800000,23
4190,Marcy Ave & Lafayette Ave,2016-06-26,13,VALIDATE,1302.615385,0.692308,0.857143,23
4191,Marcy Ave & Lafayette Ave,2016-06-28,4,VALIDATE,779.750000,1.000000,0.000000,23
4192,Marcy Ave & Lafayette Ave,2016-06-30,10,VALIDATE,1281.100000,0.900000,4.000000,23
4193,Marcy Ave & Lafayette Ave,2016-07-02,17,VALIDATE,1179.647059,0.764706,0.545455,23
4194,Marcy Ave & Lafayette Ave,2016-07-03,4,VALIDATE,1033.250000,0.750000,0.333333,23
4195,Marcy Ave & Lafayette Ave,2016-07-04,6,VALIDATE,908.833333,0.833333,2.000000,23
4196,Marcy Ave & Lafayette Ave,2016-07-05,6,VALIDATE,1491.333333,1.000000,2.000000,23
4197,Marcy Ave & Lafayette Ave,2016-07-06,7,VALIDATE,1033.571429,0.714286,1.333333,23
4198,Marcy Ave & Lafayette Ave,2016-07-07,7,VALIDATE,1180.000000,1.000000,0.166667,23
4199,Marcy Ave & Lafayette Ave,2016-07-10,20,VALIDATE,1122.450000,0.800000,1.222222,23
4200,Marcy Ave & Lafayette Ave,2016-07-13,6,VALIDATE,1771.833333,0.833333,2.000000,23
4201,Marcy Ave & Lafayette Ave,2016-07-16,11,VALIDATE,1325.727273,0.818182,1.200000,23
4202,Marcy Ave & Lafayette Ave,2016-07-17,8,VALIDATE,1054.250000,0.875000,1.666667,23
4203,Marcy Ave & Lafayette Ave,2016-07-19,12,VALIDATE,1463.250000,1.000000,5.000000,23
4204,Marcy Ave & Lafayette Ave,2016-07-20,9,VALIDATE,1035.222222,0.888889,0.800000,23
4205,Marcy Ave & Lafayette Ave,2016-07-21,8,VALIDATE,977.375000,0.875000,3.000000,23
4206,Marcy Ave & Lafayette Ave,2016-07-22,11,VALIDATE,1031.636364,0.636364,1.750000,23
4207,Marcy Ave & Lafayette Ave,2016-07-29,5,TEST,1383.200000,1.000000,1.500000,23
4208,Marcy Ave & Lafayette Ave,2016-08-01,19,TEST,1028.368421,0.789474,2.166667,23
4209,Marcy Ave & Lafayette Ave,2016-08-03,11,TEST,1186.545455,1.000000,4.500000,23
4210,Marcy Ave & Lafayette Ave,2016-08-09,16,TEST,1215.562500,0.625000,1.000000,23
4211,Marcy Ave & Lafayette Ave,2016-08-12,8,TEST,1227.625000,0.875000,1.666667,23
4212,Marcy Ave & Lafayette Ave,2016-08-14,14,TEST,659.142857,1.000000,3.666667,23
4213,Marcy Ave & Lafayette Ave,2016-08-16,7,TEST,934.000000,1.000000,6.000000,23
4214,Marcy Ave & Lafayette Ave,2016-08-18,12,TEST,877.000000,0.833333,3.000000,23
4215,Marcy Ave & Lafayette Ave,2016-08-19,9,TEST,949.555556,0.777778,2.000000,23
4216,Marcy Ave & Lafayette Ave,2016-08-23,12,TEST,1144.916667,0.916667,3.000000,23
4217,Marcy Ave & Lafayette Ave,2016-08-24,10,TEST,758.100000,0.800000,1.500000,23
4218,Marcy Ave & Lafayette Ave,2016-08-25,8,TEST,1329.875000,0.875000,0.600000,23
4219,Marcy Ave & Lafayette Ave,2016-08-27,18,TEST,1064.666667,0.611111,0.384615,23
4220,Marcy Ave & Lafayette Ave,2016-08-28,17,TEST,1523.117647,0.882353,2.400000,23
4221,Marcy Ave & Lafayette Ave,2016-08-29,8,TEST,893.750000,0.500000,0.600000,23
4222,Marcy Ave & Lafayette Ave,2016-08-30,21,TEST,867.761905,0.571429,0.615385,23
4223,Marcy Ave & Lafayette Ave,2016-08-31,12,TEST,790.333333,1.000000,3.000000,23
4224,Marcy Ave & Lafayette Ave,2016-09-01,3,TEST,526.333333,1.000000,0.000000,23
4225,Marcy Ave & Lafayette Ave,2016-09-03,10,TEST,1247.400000,1.000000,1.500000,23
4226,Marcy Ave & Lafayette Ave,2016-09-06,13,TEST,1041.615385,0.846154,2.250000,23
4227,Marcy Ave & Lafayette Ave,2016-09-07,16,TEST,978.375000,0.750000,1.666667,23
4228,Marcy Ave & Lafayette Ave,2016-09-09,13,TEST,3448.692308,0.384615,0.444444,23
4229,Marcy Ave & Lafayette Ave,2016-09-11,14,TEST,679.357143,0.857143,1.800000,23
4230,Marcy Ave & Lafayette Ave,2016-09-12,12,TEST,1193.250000,1.000000,5.000000,23
4231,Marcy Ave & Lafayette Ave,2016-09-14,8,TEST,827.750000,1.000000,1.000000,23
4232,Marcy Ave & Lafayette Ave,2016-09-19,1,TEST,1752.000000,1.000000,0.000000,23
4233,Marcy Ave & Lafayette Ave,2016-09-21,10,TEST,652.600000,1.000000,1.500000,23
4234,Marcy Ave & Lafayette Ave,2016-09-25,14,TEST,1014.071429,0.857143,1.800000,23
4235,Marcy Ave & Lafayette Ave,2016-09-26,9,TEST,1119.666667,1.000000,8.000000,23
4236,Marcy Ave & Lafayette Ave,2016-09-28,11,TEST,1089.272727,1.000000,2.666667,23
4237,Marcy Ave & Lafayette Ave,2016-09-29,9,TEST,1229.333333,0.777778,1.250000,23
4238,Marcy Ave & Lafayette Ave,2016-09-30,5,TEST,933.000000,0.600000,0.250000,23

## Train MLR - Group B

In [25]:
# CUSTOMIZE
forecast_granularity = 'DAY'
forecast_horizon = 7 #14
forecast_test_length = 14
#forecast_val_length = 14

In [9]:
query = f"""
    CREATE OR REPLACE MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}_mlr`
    OPTIONS
      (model_type = 'linear_reg',
       input_label_cols = ['{TARGET_COLUMN}']
      ) AS
    SELECT {TIME_COLUMN}, {TARGET_COLUMN},
        {', '.join(COVARIATE_COLUMNS)}
    FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}`
    WHERE splits in ('TRAIN','VALIDATE')
"""
print(query)

    CREATE OR REPLACE MODEL `hybrid-vertex.causal_impact_3.control_group1_grp_b_mlr`
    OPTIONS
      (model_type = 'linear_reg',
       input_label_cols = ['num_trips']
      ) AS
    SELECT starttime, num_trips,
        avg_tripduration, pct_subscriber, ratio_gender
    FROM `hybrid-vertex.causal_impact_3.control_group1_grp_b`
    WHERE splits in ('TRAIN','VALIDATE')

In [10]:
job = bq.query(query)
job.result()
print(job.state, (job.ended-job.started).total_seconds())

DONE 15.811

### Review Input Features

In [11]:
query = f"""
    SELECT *
    FROM ML.FEATURE_INFO(MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}_mlr`)
"""
featureInfo = bq.query(query).to_dataframe()
featureInfo.head()

,input,min,max,mean,median,stddev,category_count,null_count,dimension
0,starttime,NaN,NaN,NaN,NaN,NaN,1114,0,<NA>
1,avg_tripduration,123.5,44411.216216,916.334062,774.007092,977.067231,<NA>,0,<NA>
2,pct_subscriber,0.0,1.000000,0.872957,0.913043,0.133236,<NA>,0,<NA>
3,ratio_gender,0.0,44.000000,2.810144,2.333333,2.266810,<NA>,166,<NA>
4,capacity,19.0,114.000000,56.312325,55.000000,23.099840,<NA>,3567,<NA>

In [12]:
query = f"""
    SELECT *
    FROM ML.TRAINING_INFO(MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}_mlr`)
"""
trainingInfo = bq.query(query).to_dataframe()
trainingInfo.head()

,training_run,iteration,loss,eval_loss,learning_rate,duration_ms
0,0,0,3197.432983,3873.933853,NaN,2831

## Forecast Evaluation

In [13]:
query = f"""
    SELECT *
    FROM ML.EVALUATE(
        MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}_mlr`,
        (
            SELECT {TIME_COLUMN}, {TARGET_COLUMN},
                {', '.join(COVARIATE_COLUMNS)}
            FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}`
            WHERE splits = 'TEST'
        )
    )
"""
metrics = bq.query(query).to_dataframe()
metrics

,mean_absolute_error,mean_squared_error,mean_squared_log_error,median_absolute_error,r2_score,explained_variance
0,10660.613641,1.136578e+08,22.102688,10685.116292,-12154.285054,0.020232

## Forecast Test Set

In [14]:
query = f"""
    SELECT *
    FROM ML.PREDICT(
        MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}_mlr`,
        (
            SELECT 
                {TIME_COLUMN}, 
                {TARGET_COLUMN},
                {', '.join(COVARIATE_COLUMNS)},
                {SERIES_COLUMN}
            FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}`
            WHERE splits = 'TEST'
        )
        )
"""
forecast = bq.query(query).to_dataframe()
forecast
# print(query)

,predicted_num_trips,starttime,num_trips,avg_tripduration,pct_subscriber,ratio_gender,start_station_name
0,10790.671655,2016-09-25,256,958.222656,0.726562,1.370370,Broadway & W 24 St
1,10797.808615,2016-08-26,256,797.410156,0.839844,2.047619,Broadway & W 49 St
2,10786.673324,2016-09-25,258,1313.139535,0.666667,0.720000,Broadway & W 60 St
3,10784.396166,2016-08-21,258,1139.682171,0.627907,0.804196,Broadway & W 60 St
4,10786.493156,2016-08-06,514,1087.603113,0.659533,0.736486,E 17 St & Broadway
...,...,...,...,...,...,...,...
1308,10804.341365,2016-09-15,508,731.131890,0.944882,2.628571,Broadway & E 22 St
1309,10800.996973,2016-09-26,253,769.075099,0.897233,3.362069,Broadway & W 39 St
1310,10804.186539,2016-09-23,254,753.574803,0.940945,2.298701,Broadway & W 32 St
1311,10786.155250,2016-08-07,255,853.988235,0.650980,0.961538,Broadway & W 24 St
1312,10801.188179,2016-09-29,255,641.486275,0.890196,2.072289,Broadway & W 29 St

In [15]:
# CUSTOMIZE
query = f"""
CREATE OR REPLACE TABLE `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}_pred_Test` AS (
    SELECT * FROM ML.PREDICT(
            MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}_mlr`,
            (
                SELECT
                {TIME_COLUMN}, 
                {TARGET_COLUMN},
                {', '.join(COVARIATE_COLUMNS)},
                {SERIES_COLUMN}
            FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}`
                WHERE splits = 'TEST'
            )
            )
)
"""
job = bq.query(query = query)
job.result()
(job.ended-job.started).total_seconds()

1.609

In [49]:
BQ_DATASET

'causal_impact_3'