In [1]:
GCP_PROJECTS = !gcloud config get-value project
PROJECT_ID = GCP_PROJECTS[0]
PROJECT_NUM = !gcloud projects list --filter="$PROJECT_ID" --format="value(PROJECT_NUMBER)"
PROJECT_NUM = PROJECT_NUM[0]
LOCATION = 'us-central1'
REGION = "us-central1"

# VERTEX_SA = '934903580331-compute@developer.gserviceaccount.com'
VERTEX_SA = 'jt-vertex-sa@hybrid-vertex.iam.gserviceaccount.com'

print(f"PROJECT_ID: {PROJECT_ID}")
print(f"PROJECT_NUM: {PROJECT_NUM}")
print(f"LOCATION: {LOCATION}")
print(f"REGION: {REGION}")
print(f"VERTEX_SA: {VERTEX_SA}")

PROJECT_ID: hybrid-vertex
PROJECT_NUM: 934903580331
LOCATION: us-central1
REGION: us-central1
VERTEX_SA: jt-vertex-sa@hybrid-vertex.iam.gserviceaccount.com

In [2]:
REGION = 'us-central1'
EXPERIMENT = 'control_group1'
SERIES = 'causal_impact_2'

BQ_PROJECT = PROJECT_ID
BQ_DATASET = SERIES.replace('-','_')
BQ_TABLE = EXPERIMENT

BQ_SOURCE1 = 'bigquery-public-data.new_york.citibike_trips'
BQ_SOURCE2 = 'bigquery-public-data.new_york.citibike_stations'

viz_limit = 12

In [3]:
from google.cloud import bigquery

import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime, timedelta

from google.cloud import aiplatform as vertex_ai

bq = bigquery.Client(project=PROJECT_ID)

vertex_ai.init(
    project=PROJECT_ID, 
    location=REGION,
    # credentials=credentials
)

In [5]:
# CUSTOMIZE
TARGET_COLUMN = 'num_trips'
TIME_COLUMN = 'starttime'
SERIES_COLUMN = 'start_station_name'
COVARIATE_COLUMNS = ['avg_tripduration', 'pct_subscriber', 'ratio_gender', 'capacity'] # could be empty

# BQ_TABLE_GROUP_A="control_group1_grp_a"
BQ_TABLE_GROUP_B="control_group1_grp_b"

In [6]:
query = f"""
    WITH
        SPLIT AS (
            SELECT splits, min({TIME_COLUMN}) as mindate, max({TIME_COLUMN}) as maxdate
            FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}`
            GROUP BY splits
        ),
        TRAIN AS (
            SELECT mindate as start_date
            FROM SPLIT
            WHERE splits ='TRAIN'
        ),
        VAL AS (
            SELECT mindate as val_start
            FROM SPLIT
            WHERE splits = 'VALIDATE'
        ),
        TEST AS (
            SELECT mindate as test_start, maxdate as end_date
            FROM SPLIT
            WHERE splits = 'TEST'
        )
    SELECT * EXCEPT(pos) FROM
    (SELECT *, ROW_NUMBER() OVER() pos FROM TRAIN)
    JOIN (SELECT *, ROW_NUMBER() OVER() pos FROM VAL)
    USING (pos)
    JOIN (SELECT *, ROW_NUMBER() OVER() pos FROM TEST)
    USING (pos)
"""
keyDates = bq.query(query).to_dataframe()
keyDates

   start_date   val_start  test_start    end_date
0  2013-07-01  2016-09-03  2016-09-17  2016-09-30

In [7]:
query = f"""
    SELECT {SERIES_COLUMN}, {TIME_COLUMN}, {TARGET_COLUMN}, splits,
        {', '.join(COVARIATE_COLUMNS)}
    FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}`
    ORDER by {SERIES_COLUMN}, {TIME_COLUMN}
"""
rawSeries = bq.query(query).to_dataframe()

In [17]:
rawSeries.tail(50)

,start_station_name,starttime,num_trips,splits,avg_tripduration,pct_subscriber,ratio_gender,capacity
16949,Washington Pl & Broadway,2016-06-18,89,TRAIN,686.247191,0.719101,1.069767,27
16950,Washington Pl & Broadway,2016-06-19,72,TRAIN,826.708333,0.847222,1.666667,27
16951,Washington Pl & Broadway,2016-06-20,141,TRAIN,722.680851,0.971631,2.279070,27
16952,Washington Pl & Broadway,2016-06-21,150,TRAIN,646.600000,0.973333,2.409091,27
16953,Washington Pl & Broadway,2016-06-23,127,TRAIN,654.346457,0.960630,2.023810,27
16954,Washington Pl & Broadway,2016-06-24,136,TRAIN,888.455882,0.941176,2.090909,27
16955,Washington Pl & Broadway,2016-06-27,121,TRAIN,710.710744,0.966942,3.321429,27
16956,Washington Pl & Broadway,2016-06-29,136,TRAIN,676.889706,0.941176,3.533333,27
16957,Washington Pl & Broadway,2016-06-30,140,TRAIN,706.100000,0.921429,1.916667,27
16958,Washington Pl & Broadway,2016-07-03,77,TRAIN,793.675325,0.571429,0.711111,27
16959,Washington Pl & Broadway,2016-07-04,57,TRAIN,892.561404,0.719298,1.280000,27
16960,Washington Pl & Broadway,2016-07-06,154,TRAIN,590.928571,0.915584,2.500000,27
16961,Washington Pl & Broadway,2016-07-08,114,TRAIN,621.201754,0.947368,4.181818,27
16962,Washington Pl & Broadway,2016-07-09,91,TRAIN,634.802198,0.857143,2.791667,27
16963,Washington Pl & Broadway,2016-07-12,151,TRAIN,662.642384,0.947020,2.431818,27
16964,Washington Pl & Broadway,2016-07-14,150,TRAIN,711.526667,0.940000,2.488372,27
16965,Washington Pl & Broadway,2016-07-15,132,TRAIN,862.742424,0.916667,2.473684,27
16966,Washington Pl & Broadway,2016-07-18,121,TRAIN,729.198347,0.884298,2.558824,27
16967,Washington Pl & Broadway,2016-07-20,169,TRAIN,736.733728,0.940828,2.129630,27
16968,Washington Pl & Broadway,2016-07-21,166,TRAIN,752.168675,0.897590,2.531915,27
16969,Washington Pl & Broadway,2016-07-23,101,TRAIN,844.792079,0.752475,1.295455,27
16970,Washington Pl & Broadway,2016-07-24,97,TRAIN,1287.989691,0.845361,1.852941,27
16971,Washington Pl & Broadway,2016-07-31,61,TRAIN,806.081967,0.770492,2.210526,27
16972,Washington Pl & Broadway,2016-08-04,151,TRAIN,709.205298,0.947020,3.441176,27
16973,Washington Pl & Broadway,2016-08-06,107,TRAIN,784.747664,0.747664,1.675000,27
16974,Washington Pl & Broadway,2016-08-11,109,TRAIN,575.440367,0.917431,2.892857,27
16975,Washington Pl & Broadway,2016-08-15,118,TRAIN,672.000000,0.923729,3.214286,27
16976,Washington Pl & Broadway,2016-08-20,69,TRAIN,871.202899,0.739130,1.464286,27
16977,Washington Pl & Broadway,2016-08-27,101,TRAIN,830.613861,0.821782,2.258065,27
16978,Washington Pl & Broadway,2016-08-29,154,TRAIN,717.733766,0.974026,3.400000,27
16979,Washington Pl & Broadway,2016-08-30,116,TRAIN,2033.474138,0.982759,3.142857,27
16980,Washington Pl & Broadway,2016-08-31,150,TRAIN,815.353333,0.913333,2.658537,27
16981,Washington Pl & Broadway,2016-09-01,106,TRAIN,682.811321,0.990566,3.076923,27
16982,Washington Pl & Broadway,2016-09-02,125,TRAIN,653.488000,0.928000,2.676471,27
16983,Washington Pl & Broadway,2016-09-03,81,VALIDATE,800.444444,0.728395,1.382353,27
16984,Washington Pl & Broadway,2016-09-04,88,VALIDATE,920.352273,0.806818,1.095238,27
16985,Washington Pl & Broadway,2016-09-05,93,VALIDATE,818.204301,0.870968,2.444444,27
16986,Washington Pl & Broadway,2016-09-09,195,VALIDATE,2345.082051,0.938462,4.000000,27
16987,Washington Pl & Broadway,2016-09-12,215,VALIDATE,688.739535,0.958140,2.839286,27
16988,Washington Pl & Broadway,2016-09-13,241,VALIDATE,777.435685,0.954357,2.597015,27
16989,Washington Pl & Broadway,2016-09-15,239,VALIDATE,755.355649,0.958159,2.918033,27
16990,Washington Pl & Broadway,2016-09-19,141,TEST,616.836879,0.964539,2.525000,27
16991,Washington Pl & Broadway,2016-09-20,238,TEST,821.172269,0.945378,2.777778,27
16992,Washington Pl & Broadway,2016-09-21,223,TEST,680.251121,0.968610,3.955556,27
16993,Washington Pl & Broadway,2016-09-22,226,TEST,639.858407,0.929204,2.138889,27
16994,Washington Pl & Broadway,2016-09-24,137,TEST,744.540146,0.861314,2.044444,27
16995,Washington Pl & Broadway,2016-09-26,233,TEST,693.862661,0.957082,2.819672,27
16996,Washington Pl & Broadway,2016-09-27,232,TEST,664.681034,0.991379,3.296296,27
16997,Washington Pl & Broadway,2016-09-28,216,TEST,642.291667,0.972222,3.153846,27
16998,Washington Pl & Broadway,2016-09-29,234,TEST,567.700855,0.987179,3.105263,27

## Train MLR - Group A

In [8]:
# CUSTOMIZE
forecast_granularity = 'DAY'
forecast_horizon = 14
forecast_test_length = 14
#forecast_val_length = 14

In [9]:
query = f"""
    CREATE OR REPLACE MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}_mlr`
    OPTIONS
      (model_type = 'linear_reg',
       input_label_cols = ['{TARGET_COLUMN}']
      ) AS
    SELECT {TIME_COLUMN}, {TARGET_COLUMN},
        {', '.join(COVARIATE_COLUMNS)}
    FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}`
    WHERE splits in ('TRAIN','VALIDATE')
"""
print(query)

    CREATE OR REPLACE MODEL `hybrid-vertex.causal_impact_2.control_group1_grp_b_mlr`
    OPTIONS
      (model_type = 'linear_reg',
       input_label_cols = ['num_trips']
      ) AS
    SELECT starttime, num_trips,
        avg_tripduration, pct_subscriber, ratio_gender, capacity
    FROM `hybrid-vertex.causal_impact_2.control_group1_grp_b`
    WHERE splits in ('TRAIN','VALIDATE')

In [10]:
job = bq.query(query)
job.result()
print(job.state, (job.ended-job.started).total_seconds())

DONE 15.758

### Review Input Features

In [11]:
query = f"""
    SELECT *
    FROM ML.FEATURE_INFO(MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}_mlr`)
"""
featureInfo = bq.query(query).to_dataframe()
featureInfo.head()

,input,min,max,mean,median,stddev,category_count,null_count,dimension
0,starttime,NaN,NaN,NaN,NaN,NaN,1170,0,<NA>
1,avg_tripduration,79.0,52736.768116,924.828415,778.598425,1052.170266,<NA>,0,<NA>
2,pct_subscriber,0.0,1.000000,0.870197,0.907692,0.132956,<NA>,0,<NA>
3,ratio_gender,0.0,36.000000,2.748721,2.285714,2.190748,<NA>,175,<NA>
4,capacity,19.0,114.000000,55.856575,55.000000,23.271001,<NA>,3828,<NA>

In [12]:
query = f"""
    SELECT *
    FROM ML.TRAINING_INFO(MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}_mlr`)
"""
trainingInfo = bq.query(query).to_dataframe()
trainingInfo.head()

,training_run,iteration,loss,eval_loss,learning_rate,duration_ms
0,0,0,3483.702781,3808.823979,NaN,2932

## Forecast Evaluation

In [13]:
query = f"""
    SELECT *
    FROM ML.EVALUATE(
        MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}_mlr`,
        (
            SELECT {TIME_COLUMN}, {TARGET_COLUMN},
                {', '.join(COVARIATE_COLUMNS)}
            FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}`
            WHERE splits = 'TEST'
        )
    )
"""
metrics = bq.query(query).to_dataframe()
metrics

,mean_absolute_error,mean_squared_error,mean_squared_log_error,median_absolute_error,r2_score,explained_variance
0,137.259329,27801.765211,5.318435,113.101263,-1.638028,0.145994

## Forecast Test Set

In [18]:
query = f"""
    SELECT *
    FROM ML.PREDICT(
        MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}_mlr`,
        (
            SELECT 
                {TIME_COLUMN}, 
                {TARGET_COLUMN},
                {', '.join(COVARIATE_COLUMNS)},
                {SERIES_COLUMN}
            FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}`
            WHERE splits = 'TEST'
        )
        )
"""
forecast = bq.query(query).to_dataframe()
forecast
# print(query)

,predicted_num_trips,starttime,num_trips,avg_tripduration,pct_subscriber,ratio_gender,capacity,start_station_name
0,13.624835,2016-09-20,258,954.251938,0.844961,1.898876,<NA>,Broadway & W 60 St
1,21.487411,2016-09-22,4,920.500000,1.000000,3.000000,55,Broadway & W 41 St
2,-14.835330,2016-09-30,5,390.600000,1.000000,4.000000,29,Lorimer St & Broadway
3,15.083044,2016-09-24,261,841.567050,0.858238,1.610000,<NA>,Broadway & E 22 St
4,-1.352712,2016-09-28,262,657.694656,0.931298,2.638889,41,Broadway & W 29 St
...,...,...,...,...,...,...,...,...
262,45.443082,2016-09-21,248,954.931452,0.866935,2.263158,79,Broadway & W 58 St
263,18.990593,2016-09-27,251,737.872510,0.944223,2.861538,<NA>,Broadway & W 32 St
264,17.699815,2016-09-20,251,966.007968,0.936255,3.254237,<NA>,Broadway & W 55 St
265,14.978212,2016-09-18,252,796.444444,0.853175,1.470588,<NA>,Broadway & E 22 St
266,14.815136,2016-09-26,253,769.075099,0.897233,3.362069,<NA>,Broadway & W 39 St

In [19]:
# CUSTOMIZE
query = f"""
CREATE OR REPLACE TABLE `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}_pred_Test` AS (
    SELECT * FROM ML.PREDICT(
            MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}_mlr`,
            (
                SELECT
                {TIME_COLUMN}, 
                {TARGET_COLUMN},
                {', '.join(COVARIATE_COLUMNS)},
                {SERIES_COLUMN}
            FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_GROUP_B}`
                WHERE splits = 'TEST'
            )
            )
)
"""
job = bq.query(query = query)
job.result()
(job.ended-job.started).total_seconds()

1.636

In [ ]:
query = f"""
    SELECT * 
    FROM `{GROUP_B_PREDS_BQ_URI}`
    ORDER BY starttime DESC;
"""
groupb_test_preds = bq.query(query = query).to_dataframe()

print(f"Shape: {groupb_test_preds.shape}")
groupb_test_preds.head(10)